.profile-text {
  text-align: center;
  color: #000;
  font-family: "JosefinSansRegular";
}

.profile-content {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.profile-content > * {
  margin-bottom: 20px;
}

.edit-profile {
  padding: 10px 20px;
  font-family: "JosefinSansSemiBold";
  font-size: var(--font-size-12);
}
