// Panel
$color-right-panel-background: #f2f3f5;

$input-bg-color: #fff;
$input-text-color: #a3a3a3;
$button-text-color: #fff;
$text-dark:#5c5c5c;

$primary-color: #000000;
$primary-color-logo: #ff0404;
$secondary-color: rgb(248, 193, 193);
$background-color: rgb(255, 246, 246);
$secondary-active-color: #939393;
