/*! Avalanche | MIT License | @colourgarden */
.Grid {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0 0 0 -24px;
  font-size: 0;
}
.Grid__Cell {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 0 0 0 24px;
  margin: 0;
  vertical-align: top;
  font-size: 1rem;
}
.Grid--center {
  text-align: center;
}
.Grid--center > .Grid__Cell {
  text-align: left;
}
.Grid__Cell--center {
  display: block;
  margin: 0 auto;
}
.Grid--right {
  text-align: right;
}
.Grid--right > .Grid__Cell {
  text-align: left;
}
.Grid--middle > .Grid__Cell {
  vertical-align: middle;
}
.Grid--bottom > .Grid__Cell {
  vertical-align: bottom;
}
.Grid--m {
  margin-left: -30px;
}
.Grid--m > .Grid__Cell {
  padding-left: 30px;
}
.Grid--l {
  margin-left: -50px;
}
.Grid--l > .Grid__Cell {
  padding-left: 50px;
}
.Grid--xl {
  margin-left: -50px;
}
.Grid--xl > .Grid__Cell {
  padding-left: 50px;
}
@media screen and (min-width: 1240px) {
  .Grid--m {
    margin-left: -60px;
  }
  .Grid--m > .Grid__Cell {
    padding-left: 60px;
  }
  .Grid--l {
    margin-left: -80px;
  }
  .Grid--l > .Grid__Cell {
    padding-left: 80px;
  }
  .Grid--xl {
    margin-left: -100px;
  }
  .Grid--xl > .Grid__Cell {
    padding-left: 100px;
  }
}
.\31\/2,
.\32\/4,
.\36\/12 {
  width: 50%;
}
.\31\/3,
.\34\/12 {
  width: 33.33333%;
}
.\32\/3,
.\38\/12 {
  width: 66.66667%;
}
.\31\/4,
.\33\/12 {
  width: 25%;
}
.\33\/4,
.\39\/12 {
  width: 75%;
}
.\31\/12 {
  width: 8.33333%;
}
.\32\/12 {
  width: 16.66667%;
}
.\35\/12 {
  width: 41.66667%;
}
.\37\/12 {
  width: 58.33333%;
}
.\31\30\/12 {
  width: 83.33333%;
}
.\31\31\/12 {
  width: 91.66667%;
}
@media screen and (max-width: 640px) {
  .hidden-phone {
    display: none !important;
  }
  .\31\/2--phone,
  .\32\/4--phone,
  .\36\/12--phone {
    width: 50%;
  }
  .\31\/3--phone,
  .\34\/12--phone {
    width: 33.33333%;
  }
  .\32\/3--phone,
  .\38\/12--phone {
    width: 66.66667%;
  }
  .\31\/4--phone,
  .\33\/12--phone {
    width: 25%;
  }
  .\33\/4--phone,
  .\39\/12--phone {
    width: 75%;
  }
  .\31\/12--phone {
    width: 8.33333%;
  }
  .\32\/12--phone {
    width: 16.66667%;
  }
  .\35\/12--phone {
    width: 41.66667%;
  }
  .\37\/12--phone {
    width: 58.33333%;
  }
  .\31\30\/12--phone {
    width: 83.33333%;
  }
  .\31\31\/12--phone {
    width: 91.66667%;
  }
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .hidden-tablet {
    display: none !important;
  }
  .\31\/2--tablet,
  .\32\/4--tablet,
  .\36\/12--tablet {
    width: 50%;
  }
  .\31\/3--tablet,
  .\34\/12--tablet {
    width: 33.33333%;
  }
  .\32\/3--tablet,
  .\38\/12--tablet {
    width: 66.66667%;
  }
  .\31\/4--tablet,
  .\33\/12--tablet {
    width: 25%;
  }
  .\33\/4--tablet,
  .\39\/12--tablet {
    width: 75%;
  }
  .\31\/12--tablet {
    width: 8.33333%;
  }
  .\32\/12--tablet {
    width: 16.66667%;
  }
  .\35\/12--tablet {
    width: 41.66667%;
  }
  .\37\/12--tablet {
    width: 58.33333%;
  }
  .\31\30\/12--tablet {
    width: 83.33333%;
  }
  .\31\31\/12--tablet {
    width: 91.66667%;
  }
}
@media screen and (min-width: 641px) {
  .hidden-tablet-and-up {
    display: none !important;
  }
  .\31\/2--tablet-and-up,
  .\32\/4--tablet-and-up,
  .\36\/12--tablet-and-up {
    width: 50%;
  }
  .\31\/3--tablet-and-up,
  .\34\/12--tablet-and-up {
    width: 33.33333%;
  }
  .\32\/3--tablet-and-up,
  .\38\/12--tablet-and-up {
    width: 66.66667%;
  }
  .\31\/4--tablet-and-up,
  .\33\/12--tablet-and-up {
    width: 25%;
  }
  .\33\/4--tablet-and-up,
  .\39\/12--tablet-and-up {
    width: 75%;
  }
  .\31\/12--tablet-and-up {
    width: 8.33333%;
  }
  .\32\/12--tablet-and-up {
    width: 16.66667%;
  }
  .\35\/12--tablet-and-up {
    width: 41.66667%;
  }
  .\37\/12--tablet-and-up {
    width: 58.33333%;
  }
  .\31\30\/12--tablet-and-up {
    width: 83.33333%;
  }
  .\31\31\/12--tablet-and-up {
    width: 91.66667%;
  }
}
@media screen and (max-width: 1007px) {
  .hidden-pocket {
    display: none !important;
  }
  .\31\/2--pocket,
  .\32\/4--pocket,
  .\36\/12--pocket {
    width: 50%;
  }
  .\31\/3--pocket,
  .\34\/12--pocket {
    width: 33.33333%;
  }
  .\32\/3--pocket,
  .\38\/12--pocket {
    width: 66.66667%;
  }
  .\31\/4--pocket,
  .\33\/12--pocket {
    width: 25%;
  }
  .\33\/4--pocket,
  .\39\/12--pocket {
    width: 75%;
  }
  .\31\/12--pocket {
    width: 8.33333%;
  }
  .\32\/12--pocket {
    width: 16.66667%;
  }
  .\35\/12--pocket {
    width: 41.66667%;
  }
  .\37\/12--pocket {
    width: 58.33333%;
  }
  .\31\30\/12--pocket {
    width: 83.33333%;
  }
  .\31\31\/12--pocket {
    width: 91.66667%;
  }
}
@media screen and (min-width: 1008px) and (max-width: 1239px) {
  .hidden-lap {
    display: none !important;
  }
  .\31\/2--lap,
  .\32\/4--lap,
  .\36\/12--lap {
    width: 50%;
  }
  .\31\/3--lap,
  .\34\/12--lap {
    width: 33.33333%;
  }
  .\32\/3--lap,
  .\38\/12--lap {
    width: 66.66667%;
  }
  .\31\/4--lap,
  .\33\/12--lap {
    width: 25%;
  }
  .\33\/4--lap,
  .\39\/12--lap {
    width: 75%;
  }
  .\31\/12--lap {
    width: 8.33333%;
  }
  .\32\/12--lap {
    width: 16.66667%;
  }
  .\35\/12--lap {
    width: 41.66667%;
  }
  .\37\/12--lap {
    width: 58.33333%;
  }
  .\31\30\/12--lap {
    width: 83.33333%;
  }
  .\31\31\/12--lap {
    width: 91.66667%;
  }
}
@media screen and (min-width: 1008px) {
  .hidden-lap-and-up {
    display: none !important;
  }
  .\31\/2--lap-and-up,
  .\32\/4--lap-and-up,
  .\36\/12--lap-and-up {
    width: 50%;
  }
  .\31\/3--lap-and-up,
  .\34\/12--lap-and-up {
    width: 33.33333%;
  }
  .\32\/3--lap-and-up,
  .\38\/12--lap-and-up {
    width: 66.66667%;
  }
  .\31\/4--lap-and-up,
  .\33\/12--lap-and-up {
    width: 25%;
  }
  .\33\/4--lap-and-up,
  .\39\/12--lap-and-up {
    width: 75%;
  }
  .\31\/12--lap-and-up {
    width: 8.33333%;
  }
  .\32\/12--lap-and-up {
    width: 16.66667%;
  }
  .\35\/12--lap-and-up {
    width: 41.66667%;
  }
  .\37\/12--lap-and-up {
    width: 58.33333%;
  }
  .\31\30\/12--lap-and-up {
    width: 83.33333%;
  }
  .\31\31\/12--lap-and-up {
    width: 91.66667%;
  }
}
@media screen and (min-width: 1240px) {
  .hidden-desk {
    display: none !important;
  }
  .\31\/2--desk,
  .\32\/4--desk,
  .\36\/12--desk {
    width: 50%;
  }
  .\31\/3--desk,
  .\34\/12--desk {
    width: 33.33333%;
  }
  .\32\/3--desk,
  .\38\/12--desk {
    width: 66.66667%;
  }
  .\31\/4--desk,
  .\33\/12--desk {
    width: 25%;
  }
  .\33\/4--desk,
  .\39\/12--desk {
    width: 75%;
  }
  .\31\/12--desk {
    width: 8.33333%;
  }
  .\32\/12--desk {
    width: 16.66667%;
  }
  .\35\/12--desk {
    width: 41.66667%;
  }
  .\37\/12--desk {
    width: 58.33333%;
  }
  .\31\30\/12--desk {
    width: 83.33333%;
  }
  .\31\31\/12--desk {
    width: 91.66667%;
  }
}
@media screen and (min-width: 1500px) {
  .hidden-widescreen {
    display: none !important;
  }
  .\31\/2--widescreen,
  .\32\/4--widescreen,
  .\36\/12--widescreen {
    width: 50%;
  }
  .\31\/3--widescreen,
  .\34\/12--widescreen {
    width: 33.33333%;
  }
  .\32\/3--widescreen,
  .\38\/12--widescreen {
    width: 66.66667%;
  }
  .\31\/4--widescreen,
  .\33\/12--widescreen {
    width: 25%;
  }
  .\33\/4--widescreen,
  .\39\/12--widescreen {
    width: 75%;
  }
  .\31\/12--widescreen {
    width: 8.33333%;
  }
  .\32\/12--widescreen {
    width: 16.66667%;
  }
  .\35\/12--widescreen {
    width: 41.66667%;
  }
  .\37\/12--widescreen {
    width: 58.33333%;
  }
  .\31\30\/12--widescreen {
    width: 83.33333%;
  }
  .\31\31\/12--widescreen {
    width: 91.66667%;
  }
}

.ProductList--grid {
  padding: 0 12px;
}
@media screen and (max-width: 640px) {
  .ProductList--grid {
    margin-left: -10px;
  }
  .ProductList--removeMargin {
    margin-bottom: -35px !important;
  }
  .ProductList--grid > .Grid__Cell {
    padding-left: 10px;
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 641px) {
  .ProductList--grid {
    padding: 0 24px;
    margin-left: -24px;
  }
  .ProductList--removeMargin {
    margin-bottom: -50px !important;
  }
  .ProductList--grid > .Grid__Cell {
    padding-left: 24px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1240px) {
  .ProductList--grid {
    padding: 0 50px;
  }
  .ProductList--grid[data-desktop-count="2"] {
    margin-left: -20px;
  }
  .ProductList--grid[data-desktop-count="2"] > .Grid__Cell {
    padding-left: 20px;
    margin-bottom: 50px;
  }
  .ProductList--removeMargin[data-desktop-count="2"] {
    margin-bottom: -50px !important;
  }
  .ProductList--grid[data-desktop-count="3"],
  .ProductList--grid[data-desktop-count="4"] {
    margin-left: -20px;
  }
  .ProductList--grid[data-desktop-count="3"] > .Grid__Cell,
  .ProductList--grid[data-desktop-count="4"] > .Grid__Cell {
    padding-left: 20px;
    margin-bottom: 40px;
  }
  .ProductList--removeMargin[data-desktop-count="3"],
  .ProductList--removeMargin[data-desktop-count="4"] {
    margin-bottom: -40px !important;
  }
}

// Product Item

.ProductItem {
  text-align: center;
  white-space: normal;
}
.js .ProductList--grid .ProductItem {
  visibility: hidden;
}
.ProductItem__Wrapper {
  position: relative;
}
.ProductItem__ImageWrapper {
  display: block;
}

.ProductItem__Info {
  margin-top: 20px;
  // font-size: 14px;
}
.ProductItem__Info--left {
  text-align: left;
}
.ProductItem__Info--right {
  text-align: right;
}

.ProductItem__Title {
  display: block;
  margin-bottom: 4px;
  text-transform: lowercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ProductItem__Title::first-letter {
  text-transform: uppercase;
}

@media screen and (min-width: 641px) {
  .ProductItem__Info {
    font-size: 15px;
  }
}

.P2-square {
  max-width: 800px;
  --aspect-ratio: 1;
}

// @media screen and (max-width: 1007px) {
//   .P2-square {
//     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
//     border: 1px solid $secondary-color;
//   }
// }

@media screen and (max-width: 300px) {
  .ProductItem__PriceList .Price--compareAt {
    display: none;
  }
}
