@mixin textInput {
  -webkit-appearance: none;
  display: block;
  padding: 12px 14px;
  border-radius: 0;
  border: 1px solid $primary-color;
  width: 100%;
  line-height: normal;
  resize: none;
  transition: border-color 0.1s ease-in-out;
  background: 0 0;
  outline: 0;
  color: #939393;
}

@mixin floatingLabel {
  position: absolute;
  bottom: calc(100% - 8px);
  left: 10px;
  padding: 0 5px;
  line-height: normal;
  color: $primary-color;
  font-size: 14px;
  opacity: 0;
  background: rgba(255, 255, 255, 0);
  pointer-events: none;
  transform: translateY(3px);
  transition: all 0.3s ease-in-out;
  font-size: large;
}

@mixin onFloat {
  opacity: 1;
  background: #fff;
  transform: translateY(0);
}
