@font-face {
  font-family: "JosefinSansBold";
  src: local("JosefinSansBold"),
    url("./JospinSans/JosefinSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "JosefinSansLight";
  src: local("JosefinSansLight"),
    url("./JospinSans/JosefinSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "JosefinSansMedium";
  src: local("JosefinSansMedium"),
    url("./JospinSans/JosefinSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "JosefinSansRegular";
  src: local("JosefinSansRegular"),
    url("./JospinSans/JosefinSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "JosefinSansSemiBold";
  src: local("JosefinSansBold"),
    url("./JospinSans/JosefinSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "JosefinSansThin";
  src: local("JosefinSansBold"),
    url("./JospinSans/JosefinSans-Thin.ttf") format("truetype");
}
